@media (max-width: 640px) {

  .button-toggledarkmode {
    top: -5px;
    right: 0;
  }
  .button-toggledarkmode button {
    font-size: 1rem;
  }

  .button-download {
    top: -5px;
    left: 0;
  }
  .button-download button {
    font-size: 1rem;
  }

  .container {
    width: 100%;
    max-width: 90%;
    min-width: 360px !important;
    min-height: auto; 
    margin: 15px;
  }

  article.open {
    max-height: 10000px !important;
  }

  .right-side {
    padding-top: 40px;
    margin-top: -40px;
  }

  .left-side {
    margin-bottom: -40px;
  }

  .top {
    padding: 20px;
    margin-top: 20px;
  }
  .top-height {
    height: 230px !important;
  }
  .top h2 {
    font-size: 1.15rem;
    line-height: 0.7em;
    letter-spacing: 0.1em;
  }
  .top h2 span {
    font-size: 0.5em;
    font-weight: 300;
  }

  .group {
    gap: 20px;
    grid-template-columns: 1fr 4fr;
  }
  .group .imgFx img {
    width: 160px !important;
  }
  .group .right-side {
    width: 100%;
  }
  .group .right-side p {
    font-size: 0.75em;
  }
  /* .group .right-side .text-simple {
    display: block;
  }
  .group .right-side .text-complete {
    display: none;
  } */

  .bottom {
    /* border: 1px solid red; */
    gap: 40px;
    margin: 10px 20px 0;
    grid-template-columns: 1fr;
  }
  .bottom .right-side {
    margin-top: -30px;
  }



  .hobbies {
    margin: 10px 20px 0;
  }
  .hobbies ul {
    flex-direction: column;
  }

}

@media (max-width: 880px) {

  .button-toggledarkmode {
    top: -5px;
    right: 0;
  }
  .button-toggledarkmode button {
    font-size: 1rem;
  }

  .button-download {
    top: -5px;
    left: 0;
  }
  .button-download button {
    font-size: 1rem;
  }

  .container {
    max-width: 900px;
    min-width: 460px;
    margin: 20px;
  }

  .top {
    padding: 20px;
    margin-top: 20px;
  }
  .top-height {
    height: 240px;
  }
  .top h2 {
    font-size: 1.25rem;
    line-height: 0.7em;
    letter-spacing: 0.1em;
  }
  .top h2 span {
    font-size: 0.6em;
    font-weight: 300;
  }

  .group {
    gap: 20px;
    grid-template-columns: 1fr 4fr;
  }
  .group .imgFx img {
    width: 180px;
  }
  .group .right-side {
    width: 100%;
  }
  .group .right-side p {
    font-size: 0.9em;
  }

}

@media (max-width: 1000px) and (orientation: landscape) {

  .button-toggledarkmode {
    top: -8px;
    right: 0;
  }
  .button-toggledarkmode button {
    font-size: 1rem;
  }

  .button-download {
    top: -8px;
    left: 0;
  }
  .button-download button {
    font-size: 1rem;
  }

  .container {
    max-width: 900px;
    min-height: 560px; 
    margin: 20px;
  }

  .top {
    padding: 20px;
    margin-top: 20px;
  }
  .top-height {
    height: 240px;
  }
  .top h2 {
    font-size: 1.25rem;
    line-height: 0.7em;
    letter-spacing: 0.1em;
  }
  .top h2 span {
    font-size: 0.6em;
    font-weight: 300;
  }
  
  .group {
    gap: 20px;
    grid-template-columns: 1fr 4fr;
  }
  .group .imgFx img {
    width: 180px;
  }
  .group .right-side {
    width: 100%;
  }
  .group .right-side p {
    font-size: 0.9em;
  }

  .bottom {
    grid-template-columns: 2fr 3fr;
  }

}